$white: hsl(0, 0%, 100%);
$lightGray: hsl(212, 45%, 89%);
$grayishBlue: hsl(220, 15%, 55%);
$darkBlue: hsl(218, 44%, 22%);
$fontGeneral: 'Outfit', sans-serif;
$weightTitle: 700;
$weightContent: 400;
$borderRadiusOut: 1.6rem;
$borderRadiusIn: 1.6rem;
$boxShadow: hsla(220, 15%, 55%, .3);